<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1087999378109-48s7tv01nre6r64dfo2bfkoniv6p0dg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087999378109-48s7tv01nre6r64dfo2bfkoniv6p0dg1</string>
	<key>API_KEY</key>
	<string>AIzaSyDD7O0tgzv20ib2bbpzGO2LwC9zk2JKqic</string>
	<key>GCM_SENDER_ID</key>
	<string>1087999378109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sagar.InstgramCopy</string>
	<key>PROJECT_ID</key>
	<string>instagramcopy-86d2b</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramcopy-86d2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087999378109:ios:eea3012b5b3eced5</string>
	<key>DATABASE_URL</key>
	<string>https://instagramcopy-86d2b.firebaseio.com</string>
</dict>
</plist>